*{
    margin: 0%;
    padding: 0%;
    
}

body{
    background-color: black;
}
/* nav start */
nav .fa-brands{
    scale: 1.1;
    color: blue;
}
/* nav end */

.intro {
    background-color: black;
    height: 100vh;
}

.intro-img img {
    margin-top: 200px;
    
}


.intro-text{
    margin-top: 400px;
    color: white;
    text-align: center;
}

nav .fa-brands{
    scale: 1.1;
    color: blue;
}

::-webkit-scrollbar{
    width: fit-content;
}

::-webkit-scrollbar-track{
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background-color: yellow;
}












































































































@media only screen and (max-width:767px) and (min-width:0px){

    nav {
        margin-bottom: 150px;
    }
     
     

   
     .intro-img img {
        
        max-width: 250px;
        margin-left: 110px;
         margin-top: -1px;
     }
  
   
    .intro-text {
        margin-top: -1px;
    } 

}






@media only screen and (max-width:1023px) and (min-width:768){
 
    nav {
        margin-bottom: 150px;
    }
     
     

   
     .intro-img img {
        
        max-width: 250px;
        margin-left: 110px;
         margin-top: -1px;
     }
  
   
    .intro-text {
        margin-top: -1px;
    } 










}


