*{
    margin: 0%;
    padding: 0%;
    
}

body{
    background-image: linear-gradient(red, yellow);
}


::-webkit-scrollbar{
    width: fit-content;
}

::-webkit-scrollbar-track{
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background-color: yellow;
}

/* nav start */
nav .fa-brands{
    scale: 1.1;
    color: blue;
}
/* nav end */

/* intro start */
.intro {
   
    height: 100vh;
}

.intro-img img {
    margin-top: 100px;
    
}


.intro-text{
    margin-top: 300px;
    color: white;
    text-align: center;
}
/* intro end */

/* about academy start */

.about {
    background-color: rgb(42, 42, 42);
    height: 100vh;
}

.about-t {
    text-align: center;
    color: white;
    margin-top: 250px;

}

.about-img {
   margin-top: 150px;
}

.about-img img {
    height: 350px;
    width: 650px;
}


































































































@media only screen and (max-width:767px) and (min-width:525px){

    nav {
        margin-bottom: 150px;
    }
     
        /* intro start */
     .intro-img {
       align-items: center;
     }
  
      .intro-img img {
        width: min-content;
      }
   
   
    .intro-text {
        margin-top: -1px;
    } 
      /* intro end */

      .about-img {
        align-items: center;
      }
   
       .about-img img {
         width: 75%;
         height: 200px;
         margin-left: 65px;
         margin-top: -50px;
         margin-bottom: 50px;
       }
    
    
     .about-t {
         margin-top: -1px;
     } 



}


@media only screen and (max-width:525px) and (min-width:0px){

    nav {
        margin-bottom: 150px;
    }
     
    /* intro start */
      .intro {
        height: 600px;
      }

     .intro-img {
       
       align-items: center;
       margin: auto;
     }
  
      .intro-img img {
        
        width: 75%;
        margin: auto;
        margin-left: 50px;
      }
   
   
    .intro-text {
       
        margin-top: -1px;
    } 
/* intro end */

    /* about start */
   .about-img {
        
    align-items: center;
    margin: auto;
    }

    .about-img img {
     height: 50%;
     width: 75%;
     margin: auto;
     margin-left: 40px;
     margin-top: 150px;
     margin-bottom: 50px;
     }


    .about-t{
     margin-top: -1px;
   } 
   /* about end */
}



@media only screen and (max-width:1023px) and (min-width:768){
 
    nav {
        margin-bottom: 150px;
    }
     
         /* intro start */
   
     .intro-img img {
        
        max-width: 300px;
       margin: auto;
     }
  
   
    .intro-text {
        margin-top: -1px;
    } 
/* intro end */

    .about-img{
        width: 50%;
    }

 
    .about-img img {
         width: 50%;
 

    }

    .about-t{
        margin-left: 100px;
    }
}

